body {
    background-color: lightsteelblue;
    display: flex;
}
/* Sidebar */
#sidebar {
    width: 450px;
    background-color: skyblue;
    height: 917px;
    padding: 10px;
}
#sidebar-title {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebar-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.section-text {
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.section-text:hover {
    text-shadow: 0px 0px 5px #fff;
}

/* Header */
#header {
    background-color: #fff;
    height: 158px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fitted-header-and-content-wrapper {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
#top-half {
    display: flex;
    align-items: center;
}
#search-icon {
    width: 40px;
    margin-right: 10px;
}
#search-bar {
    width: 70%;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 0 10px;
}
#bottom-half {
    display: flex;
    margin-top: 0px;
}
#profile-icon {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px #000;
}
#greeting {
    margin-left: 10px;
    margin-top: -10px;
    height: 10px;
    display: flex;
    flex-direction: column;
}
.text {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
#name {
    font-size: 25px;
    color: #000;
    font-weight: bold;
    width: 500px;
    margin-top: -5px;
}
#actions {
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    width: 74.5%;
    justify-content: flex-end;
}
button {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: 0px;
    background-color: skyblue;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
#profile {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;
}
#bell {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#naruto-prf {
    width: 50px;
    height: 50px;
    align-self: center;
    cursor: pointer;
    border-radius: 100%;    
}

/* Main Content */
#projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
}
#project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.item {
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 0px 10px #000;
}
.side-piece-mission {
    margin: -11px;
    height: calc(100% + 22px);
    width: 35px;
    background-image: linear-gradient(to bottom, skyblue, lightsteelblue);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.project-icon {
    width: 100px;
    border-radius: 10px;
}