#sidebar {
    width: 360px;
    background-color: skyblue;
    height: 100vh;
    padding: 10px;
}
#sidebar-title {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.section {
    display: flex;
    align-items: center;
}
.sidebar-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.section-text {
    font-size: 20px;
    color: white;
    font-weight: bold;
}