body {
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
}
#sidebar {
    width: 450px;
    background-color: skyblue;
    height: 917px;
    padding: 10px;
}
#sidebar-title {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebar-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.section-text {
    font-size: 20px;
    color: white;
    font-weight: bold;
}
#header {
    background-color: #fff;
    height: 158px;
    width: 100%;
}